input{
	&::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; font-size: 13px;}
	&::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; font-size: 13px;}
	&:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; font-size: 13px;}
	&:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; font-size: 13px;}
	&:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
	&:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
	&:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
	&:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

	&:focus{
		outline: none;
	}

	.search &{
		border: none;
		height: 50px;
		width: 100%;
	}

	&[type=checkbox]{
		display:none; 

		+ label{
			cursor: pointer;
			color: $light-text-color;

			&:before{
				content: "";
			    display: inline-block;
			    height: 14px;
			    width: 14px;
			    margin: 0 10px 0 0;
			    background-image: url(../images/checkbox.png);
			    background-repeat: no-repeat;
			    vertical-align: middle;
			}
		}

		/*&:checked + label:before{
			background-position: 0px -14px;
		}*/
	}

}

.search form{
	position: relative;
	padding: 0 $gutter*4 0 $gutter*2;
	
	button{
		display: block;
		position: absolute;
		width: 15px;
		height: 15px;
		top: 17px;
		right: 20px;
		cursor: pointer;

		svg{
			width: 15px;
			height: 15px;
			position: absolute;
		    left: 0;
		    top: 0;
		}
	}
}

.subscribe{
	p{
		margin: 0 0 15px;
		color: $light-text-color;
	}

	form{
		position: relative;

		input[type=text]{
			border: none;
			border-bottom: 1px solid #979797;
			height: 30px;
			width: 100%;

			&::-webkit-input-placeholder       {font-size: 14px;}
			&::-moz-placeholder                {font-size: 14px;}
			&:-moz-placeholder                 {font-size: 14px;}
			&:-ms-input-placeholder            {font-size: 14px;}
		}

		button{
			width: 20px;
			height: 10px;
			position: absolute;
			top: calc(50% - 10px / 2);
			right: 0;

			svg{
				width: 20px;
				height: 10px;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}