/*.cards{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;

	.card{
		//flex: 0 1 calc((100% - #{$gutter} * 3) / 4 );
		margin: $gutter 0 0;
		background: $primary-bg;
		width: 100%;

		.card-img{
			img{
				vertical-align: top;
				width: 100%;
			}
		}

		.card-content{
			padding: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.card-price{
			font-family: "helveticaneuecyr-medium";
			display: block;
			padding-top: 20px;

			.old{
				color: $light-text-color;
				font-size: 13px;
				display: inline-block;
				margin-right: 10px;
				text-decoration: line-through;
				font-family: 'helveticaneuecyr-roman';
			}
		}

		&:hover .card-price{
			color: $base-text-color;
		}
	}
}

@media #{$medium-and-up}{
	.card{
		width: auto;
		flex: 0 1 calc((100% - #{$gutter} * 2) / 3 );
	}
}

@media #{$large-and-up}{
	.card{
		flex: 0 1 calc((100% - #{$gutter} * 3) / 4 );
	}
}*/



.cards{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;

	.card{
		//flex: 0 1 calc((100% - #{$gutter} * 3) / 4 );
		margin: $gutter 0 0;
		background: $primary-bg;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		flex-direction: column;

		.card-img{
			position: relative;
			img{
				vertical-align: top;
				width: 100%;
			}
			&:after{
				content: "";
				background: #fff;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: opacity 0.5s;
			}
		}

		&:hover .card-img:after{
			opacity: 0.2;
		}

		.card-name{
			padding: 20px;
			display: inline-block;
		}

		.card-price{
			font-family: "helveticaneuecyr-medium";
			display: block;
			padding: 0 20px 20px;

			.old{
				color: $light-text-color;
				font-size: 13px;
				display: inline-block;
				margin-right: 10px;
				text-decoration: line-through;
				font-family: 'helveticaneuecyr-roman';
			}
		}

		&:hover .card-price{
			color: $base-text-color;
		}
	}
}

@media #{$medium-and-up}{
	.card{
		width: auto;
		flex: 0 1 calc((100% - #{$gutter} * 2) / 3 );
	}
}

@media #{$large-and-up}{
	.card{
		flex: 0 1 calc((100% - #{$gutter} * 3) / 4 );
	}
}