@charset "UTF-8";


//Default styles

html {
	box-sizing: border-box;
	color: $base-text-color;
	height: 100%;
  background: $bg;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	width: 100%;
	height: 100%;
  min-width: 320px;
}

.workarea {
	min-height: calc(96vh - 330px);
	@media #{$medium-and-up}{
		min-height: calc(96vh - 680px);
	}
	@media #{$large-and-up}{
		min-height: calc(96vh - 610px);
	}
}

.main-conteiner{
  padding: 0 $gutter;
  margin: 0 auto;
  margin: 0 auto;
}

@media #{$medium-and-up}{
  .main-conteiner{
    padding: 0 30px;
    max-width: calc(1180px + 30px * 2);
  }
}

@media #{$large-and-up}{
  .main-conteiner{
    padding: 0 50px;
    max-width: calc(1180px + 50px * 2);
  }
}

ul {
	list-style-type: none;
}

a {
	color: $base-text-color;
	text-decoration: none;
	
	&:hover {
		color: $primary-color;
	}
	&.nostyle,
	&.nostyle:hover {
		color: inherit;
	}
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}

ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}
ul.nostyle,
ol.nostyle {
	padding: 0;
	margin: 0;
	li {
		list-style-type: none;
	}
}

// classic clearfix
.clearfix {
	clear: both;
	&:before,
	&:after {
		//@extend .row:after;
	}
}

//  Blockquote

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid $primary-color;
}

// Images
img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

// Responsive Videos
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    &.no-controls {
      padding-top: 0;
    }

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}


/*******************
  Utility Classes
*******************/

.hide {
  display: none !important;
}

// Text Align
.left-align {
  text-align: left;
}
.right-align {
  text-align: right
}
.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}

// No Text Select
.no-select {
  user-select: none;
}

.circle {
  border-radius: 50%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-padding {
  padding: 0 !important;
}
